<% include ./partials/header %>
<div class="add-header-margin-150"></div>
<div class="flower-bg">
</div>
<div class="bg-overlay"></div>

<div class="row">
	<div class="col-lg-4 col-md-12 col-sm-12">
		<div class="container cloud">
			<div class="text-center">
					<img class="landing-cloud-img img-responsive" src="/img/cloud.png">
			</div>	
		</div>
	</div>
	<div class="col-lg-4 col-md-12 col-sm-12">
		<div class="container landing">
			<div class="jumbotron landing">
				<div class="text-center">
					<h2>Jen & Clouds'</h2>
					<h1>Choice</h1>
					
				</div>
			</div>		
		</div>		
	</div>
	
	<div class="col-lg-4 col-md-12 col-sm-12">
		<div class="container">
			<div class="text-center">
				<img class="landing-jen-img img-responsive" src="/img/jen.png">
			</div>	
		</div>
	</div>

	<div class="container col-12">
		<div class="text-center">
			<a class="btn btn-outline-danger btn-lg" href="/blogs">Enter Our World</a>
		</div>	
	</div>
</div>


<% include ./partials/footer %>